*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cor1{
    color: #fff;
}
.cor1:hover{
    border-bottom: 2px solid #fff;
}

.cor2{
    color: #222;
}
.cor2:hover{
    border-bottom: 2px solid #000;
}

html { 
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0px;             
}


body{
    width: 100vw;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

header{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 15vh;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
}

header .links:nth-child(2){
    display: flex;
    align-items: center;
}
header .links:nth-child(3){
    display: none;
}

@media only screen and (max-width: 1200px) {

    header{
        .links:nth-child(2){
            display: none;
        }
        .links:nth-child(3){
            display: flex;
        }
    }
}


header .links:nth-child(3){
    ul{
        list-style: none;
        background-color: #222;
    }
    ul li{
        display: inline-block;
        position: relative;
    }
    ul li a{
        font-size: 20px;
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        padding: 5px;
    }
    ul.dropdown li{
        display: block;
    }


}

ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 99;
    display: none;
}
.aparece{
    width: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
}
head .links:nth-child(2) li{
    list-style: none;
    list-style-type: none;
}

header .links:nth-child(2) a{
    margin: 10px 30px 10px 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}

header .links:nth-child(2) a:nth-child(5){
    padding: 8px 20px 6px 20px;
    background: linear-gradient(to right, #52c3e3, #684fd8);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    display: flex;
}

/* About us */

.about{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.about{
    .col1, .col2{
        display: flex;
        width: 40vw;
    }

    .col1{
        justify-content: center;
    }

    .col1 img{
        border-radius: 10px;
    }

    .col2{
        flex-direction: column;
        align-items: center;
    }

    .col2 h1{
        /* color: #050D36; */
        background: -webkit-linear-gradient(  #4e8b9e, #050D36);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
        display: flex;
        margin-bottom: 5%;
        margin-right: 5%;
    }

    .col2 div{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .col2 ol{
        display: flex;
        flex-direction: column;
    }
    
    .col2 ol li{
        color: #050D36;
        font-size: 24px;
        list-style-type: square;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .col2 ol span{
        width: 600px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        color: #777C90;
        text-shadow: 1px 1px #22222259;
    }
}

/* Solução */

.solutions{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Serviços */

.services{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services{
    .container-services{
        width: 95%;
        height: 90%;
        background: linear-gradient(to right, #2d0333, #3d24ad);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }
    .container-services .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-services h1{
        font-family: "Josefin Sans", sans-serif;
        color: #5a0075;
        font-size: 32px;
        margin-top: 20%;
    }
    .container-services h1:nth-child(2){
        color: #fff;
        font-size: 42px;
        margin-top: 10%;
    }
    .container-services .container-boxs{
        width: 85%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container-boxs .card{
        width: calc(30% - 20px); 
        height: calc(78% - 20px); 
        border-radius: 20px;
        background-color: #ffffff10;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s;
        box-sizing: border-box; 
    }
    .container-boxs .card div{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 45%;
        margin-bottom: 10%;
    }
    .container-boxs .card h3{
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
    }
    .container-boxs .card span{
        display: flex;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: #ffffffb7;
        width: 85%;
        letter-spacing: 1px;
    }
    .container-boxs  .card:hover{
        transform: scale(1.1);
    }
}


/* Rating */

.rating{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating {
    .container-rating{
        width: 95%;
        height: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container-rating .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 15%;
        justify-content: space-between;
    }
    .container-rating h1:nth-child(1){
        font-family: "Josefin Sans", sans-serif;
        color: #5a0075;
        font-size: 26px;
    }
    .container-rating h1:nth-child(2){
        background: -webkit-linear-gradient(  #7c61f1, #2d0333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
    }
    .container-boxs{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 80%;
    }
    .container-boxs .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 30%;
        height: 90%;
    }
    .container-boxs .card span{
        width: 80%;
        word-spacing: 1px;
        font-family: "josefin sans";
        font-size: 20px;
        color: #776c7eb7;
    }
    .container-boxs .card h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #01042e;
    }
    .container-boxs .card:nth-child(1) h2:nth-child(1){
        margin-top: 15%;
    }
}


/* Team */

.team{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team{
    .container-team{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
        width: 90%;
        border-radius: 15px;
        background-color: #222222f8;
    }
    .container-team .titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25%;
        justify-content: space-between;
    }
    .container-team .titulo h1:nth-child(1){
        color: #52c3e3;
        font-family: "Josefin Sans", sans-serif;
        font-size: 26px;
        margin-top: 4%;
    }
    .container-team .titulo h1:nth-child(2){
        margin-top: 2%;
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
    }
    .container-team .container-boxs{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
    }
    .container-team .container-boxs .lin{
        width: 90%;
        height: 48%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .lin .card{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 33%;
        height: 90%;
    }
    .lin .card .foto{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lin .card .foto img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .lin .card .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }
    .lin .card .info span:nth-child(1){
        color: #fff;
        font-size: 32px;
        font-family: "Josefin Sans", sans-serif;
    }
    .lin .card .info span:nth-child(2){
        color: #d4fa00;
        font-size: 18px;
        font-family: "Josefin Sans", sans-serif;
        padding: 3%;
    }
    .lin .card .info span:nth-child(3){
        color: #9b9b9b;
        font-size: 14px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        padding: 3%;
    }
    .lin .card  .info  div{
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin-top: 5%;
    }
}

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    .container-contact{
        width: 95%;
        height: 97%;
        background: linear-gradient(to left top, rgb(60, 98, 121), rgb(98, 2, 187));
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        padding: 0 10% 0 10%;
        align-items: center;
    }
    .titulo{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        height: 60%;
        justify-content: space-evenly;
    }
    .titulo h1{
        color: #fff;
        font-size: 32px;
        font-family: "Josefin Sans", sans-serif;
    }
    .titulo h3{
        color: #ffffff;
        font-size: 21px;
        font-family: "Josefin Sans", sans-serif;
        word-spacing: 1px;
        line-height: 25px;
    }
    .titulo div{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .titulo  div img{
        margin-left: 15px;
        cursor: pointer;
        border: solid 2px #5a0075;
        border-radius: 100px;
        padding: 5px;
    }

    .formulario{
        width: 40%;
        height: 80%;
        background-color: #ffffff21;
        padding: 3%;
        border-radius: 30px;
    }
    .formulario .titulo-form{
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
    }
    .formulario .form{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        justify-content: space-around;
        margin-top: 3%;
    }
    .form div{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 17%;
        margin: 2%  0   0 0;
    }
    .form div label{
        color: #fff;
        font-size: 22px;
        font-family: "Josefin Sans", sans-serif;
    }
    .form div  input{
        height: 70%;
        background-color: #ffffff13;
        border: solid 2px #fff;
        color: #fff;
        outline: none;
        padding: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }
    .form  div:nth-child(5){
        width: 50%;
    }
    .form div button{
        width: 100%;
        height: 60%;
        background: linear-gradient(to left top, rgb(91, 56, 100), rgb(98, 2, 187));
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
        cursor: pointer;
    }

}

/* Footer */  

footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    .container-footer{
        width: 100%;
        height: 100%;
        background-color: #222;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .linha{
            width: 2px;
            height: 30%;
            background-color: #fff;
        }
        .texto{
            width: 250px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
        }
    }

    
    
}


/* Responsividade */
@media only screen and (max-width: 1200px) {
    .about{
        flex-direction: column;
        display: flex;
    }
    .about img{
        width: 500px;
    }

    .cor2{
        color: #fff;
    }
    
    .services{
        height: 150vh;
    
        .container-services{
            .titulo h1{
                text-align: center;
            }
            .container-boxs{
                display: flex;
                flex-direction: column;
            }
            .container-boxs .card{
                width: 80%;
            }
            .container-boxs .card span{
                font-size: 14px;
            }
            .container-boxs .card div h3{
                font-size: 22px;
            }
        }
    }

    .rating{
        height: 170vh;

        .container-rating{
            .titulo{
                height: 10%;
            }
            .titulo h1{
                text-align: center;
            }
            .container-boxs{
                display: flex;
                flex-direction: column;
            }
            .container-boxs .card{
                width: 80%;
            }
            .container-boxs .card  span:nth-child(5){
                margin-bottom: 5%;
            }
        }
    }

    .team{
        height: 230vh;
        .container-team{
            .titulo{
                height: 5%;
            }
            .container-boxs{
                height: 90%;
            }
            .container-boxs .lin{
                display: flex;
                flex-direction: column;
            }
            .container-boxs .lin .card{
                width: 95%;
            }
        }
    }

    .contact{
        height: 150vh;
        .container-contact{
            display: flex;
            flex-direction: column;
            .titulo{
                width: 90%;
            }
            .formulario{
                width: 90%;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .about{
        width: 100vw;
        .col2{
            width: 100%;
        }
        .col2 ol{
            width: 90%;
        }
        .col2 ol span{
            width: 100%;
        }
    }
    .services{
        height: 190vh;
        .container-services{
            .container-boxs .card{
                
            }
        }
    }
    .rating{
        height: 200vh;
    }
    
    #menulink {
        width: 22%;
        li  a{
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 500px){
    .rating{
        height: 250vh;
    }

    .team{
        height: 300vh;
        .container-team{
            height: 98%;
            justify-content: space-around;
            .container-boxs{
                .lin .card{
                    display: flex;
                    flex-direction: column;
                    .info{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .contact{
        height: 150vh;

        .container-contact{
            .titulo{

            }
            .formulario{
                height: 40%;
                .form input{
                    height: 50px;
                }
                .form{
                    height: 85%;
                    justify-content: space-evenly;
                }
            }
        }
    }
    #menulink{
        width: 22%;
    }

}

/* Menu NavBar */
@media only screen and (min-width: 600px){
    #menulink{
        width: 18%;
    }
}

#menulink{
    height: 120%;
    a:hover{
        border-bottom: none;
    }

    li{
        padding: 2px;
    }

    li button{
        width: 100%;
        height: 15%;
        background-color: transparent;
        color: #fff;
        font-size: 26px;
        border: none;
    }
}