@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cor1 {
    color: #fff;
}

.cor1:hover {
    border-bottom: 2px solid #fff;
}

.cor2 {
    color: #222;
}

.cor2:hover {
    border-bottom: 2px solid #000;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    /* width: 0px; */
}


body {
    /* width: 100vw; */
}

.main {
    /* width: 100vw; */
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    display: flex;
    padding: 0 5%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    position: fixed;
    flex-direction: column;
    z-index: 100;
    top: 0;
    backdrop-filter: blur(4px);
    background-color: #ffffff1e;
    padding: 12px 0;
    transition: 600ms;
}

header .links:nth-child(2) {
    display: flex;
    align-items: center;
}

header .links:nth-child(3) {
    display: none;
}

@media only screen and (max-width: 1200px) {

    header {
        .links:nth-child(2) {
            display: none;
        }

        .links:nth-child(3) {
            display: flex;
        }
    }
}


header .links:nth-child(3) {
    ul {
        list-style: none;
        background-color: #222;
    }

    ul li {
        display: inline-block;
        position: relative;
    }

    ul li a {
        font-size: 20px;
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        padding: 5px;
    }

    ul.dropdown li {
        display: block;
    }


}

ul.dropdown {
    /* width: 100%; */
    position: absolute;
    z-index: 99;
    display: none;
}

.aparece {
    /* width: 100%; */
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
}


head .links:nth-child(2) li {
    list-style: none;
    list-style-type: none;
}

header .links:nth-child(2) a {
    margin: 10px 30px 10px 30px;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
}

header .links:nth-child(2) a:nth-child(5) {
    padding: 8px 20px 6px 20px;
    background: linear-gradient(to right, #52c3e3, #684fd8);
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
    display: flex;
}


.main-section {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    div h1 {
        font-family: "Be Vietnam Pro", sans-serif;
        font-weight: 700;
        font-size: 90px;
        color: #fff;
    }

    div h2 {
        color: #fff;
        font-size: 32px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
    }

    div .btn {
        text-decoration: none;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        border: 2px solid #52c3e3;
        padding: 14px 70px;
        border-radius: 50px;
        transition: 0.5s;
        font-family: "Josefin Sans", sans-serif;
        /* margin-top: 2%; */
    }
}

/* About us */

.about {
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    gap: 48px;
}


.about {

    .col1 {
        justify-content: center;
    }

    .col1 img {
        border-radius: 10px;
        width: 100%;
    }

    .col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col2 h1 {
        /* color: #050D36; */
        background: -webkit-linear-gradient(#4e8b9e, #050D36);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
        display: flex;
        /* margin-bottom: 27px; */
    }

    .col2 div {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 7px;
    }

    .col2 ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .col2 ul li {
        color: #050D36;
        font-size: 24px;
        list-style-type: square;
        padding: 10px;
        font-weight: 400;
    }

    .col2 ul span {
        width: 80%;
        margin: auto;
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        color: #777C90;
        /* text-shadow: 1px 1px #22222259; */
    }
}

/* Solução */

.solutions {
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.titulo-solucao {
    h1 {
        font-size: 36px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 15px;
    }
}

.container-solucao {
    display: flex;
    flex-direction: column;

    .lin {
        /* height: 50%; */
        /* width: 100%; */
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: 40% 40%;

        .card {
            /* height: 90%; */
            /* width: 45%; */
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-radius: 20px;
            transition: 0.7s;
            .fa-chart-pie {
                font-size: 75px;
                color: #fff;
            }
            padding: 30px;

            span:nth-child(2) {
                font-size: 22px;
                color: #fff;
                /* width: 80%; */
            }

            span:nth-child(3) {
                /* width: 90%; */
                font-size: 18px;
                color: #ffffffbb;
            }
        }
        .card:hover {
            transform: scale(1.05);
        }

        .card-e {
            background: linear-gradient(to right, #4f32cf, #3d24ad);
        }

        .card-d {
            background: linear-gradient(to left, #4f32cf, #3d24ad);
        }
    }
}

/* Serviços */

.services {
    /* height: 100vh; */
}

.services {
    .container-services {
        /* height: 95%; */
        background: linear-gradient(to right, #2d0333, #3d24ad);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 10% 0;
        gap: 30px;
    }

    .container-services .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-services h1 {
        font-family: "Josefin Sans", sans-serif;
        color: #5a0075;
        font-size: 32px;
        /* margin-top: 20%; */
    }

    .container-services h1:nth-child(2) {
        color: #fff;
        font-size: 42px;
        /* margin-top: 10%; */
    }

    .container-services .container-boxes {
        /* width: 85%; */
        /* height: 70%; */
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .container-boxes .card {
        /* width: calc(30% - 20px); */
        /* height: calc(78% - 20px); */
        border-radius: 20px;
        background-color: #ffffff10;
        /* margin-bottom: 20px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.5s;
        box-sizing: border-box;
        height: 100%;
        padding: 30px;
        gap: 20px;
    }

    .container-boxes .card div {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        /* height: 45%; */
        /* margin-bottom: 10%; */
    }

    .container-boxes .card h3 {
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
    }

    .container-boxes .card span {
        display: flex;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        color: #ffffffb7;
        /* width: 85%; */
        letter-spacing: 1px;
    }

    .container-boxes .card:hover {
        transform: scale(1.1);
    }
}


/* Rating */

.rating {
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating {
    .container-rating {
        width: 90%;
        margin: auto;
        /* height: 90%; */
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 80px 0;
        gap: 100px;
    }

    .container-rating .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }

    .container-rating h1:nth-child(1) {
        font-family: "Josefin Sans", sans-serif;
        color: #5a0075;
        font-size: 26px;
    }

    .container-rating h1:nth-child(2) {
        background: -webkit-linear-gradient(#7c61f1, #2d0333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
    }

    .container-boxes {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-evenly;
    }

    .container-boxes .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 20px;
        border-radius: 14px;
        /* width: 30%; */
        /* height: 90%; */
    }

    .container-boxes .card span {
        /* width: 80%; */
        word-spacing: 1px;
        font-family: "josefin sans";
        font-size: 20px;
        color: #776c7eb7;
    }

    .container-boxes .card h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #01042e;
    }

    .container-boxes .card:nth-child(1) h2:nth-child(1) {
        /* margin-top: 15%; */
    }
}


/* Team */

.team {
    /* height: 92vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team {
    .container-team {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* height: 85%; */
        width: 90%;
        border-radius: 15px;
        background-color: #222222f8;
        padding: 50px;
        gap: 30px;
    }

    .container-team .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 25%; */
        justify-content: space-between;
        gap: 35px;
    }

    .container-team .titulo h1:nth-child(1) {
        color: #52c3e3;
        font-family: "Josefin Sans", sans-serif;
        font-size: 26px;
        /* margin-top: 4%; */
    }

    .container-team .titulo h1:nth-child(2) {
        /* margin-top: 2%; */
        color: #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 42px;
    }

    .container-team .container-boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
        /* height: 70%; */
        justify-content: space-evenly;
    }

    .container-team .container-boxes .lin {
        /* width: 90%; */
        /* height: 48%; */
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
    }

    .lin .card {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 30px;
        justify-content: center;
    }

    .lin .card .foto {
        /* width: 40%; */
        /* height: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lin .card .foto img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .lin .card .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .lin .card .info span:nth-child(1) {
        color: #fff;
        font-size: 32px;
        font-family: "Josefin Sans", sans-serif;
    }

    .lin .card .info span:nth-child(2) {
        color: #d4fa00;
        font-size: 18px;
        font-family: "Josefin Sans", sans-serif;
        padding: 3%;
    }

    .lin .card .info span:nth-child(3) {
        color: #9b9b9b;
        font-size: 14px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        padding: 3%;
    }

    .lin .card .info div {
        display: flex;
        gap: 30px;
    }

    .icone {
        font-size: 25px;
        color: white;
        transition: 100ms;
    }

    .icone:hover {
        cursor: pointer;
        color: #52c3e3;
    }
}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left top, rgb(60, 98, 121), rgb(98, 2, 187));
    padding: 80px;
    border-radius: 20px;
        /* height: 80vh; */

    .container-contact {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        gap: 5%;
    }

    .titulo {
        /* width: 40%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        /* height: 60%; */
        justify-content: center;
        gap: 30px;
    }

    .contact-body-text {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .titulo h1 {
        color: #fff;
        font-size: 32px;
        font-family: "Josefin Sans", sans-serif;
    }

    .titulo h3 {
        color: #ffffff;
        font-size: 21px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
    }

    .titulo div {
        display: flex;
        justify-content: flex-start;
        /* width: 100%; */
    }

    .titulo div .fa-brands {
        margin-left: 15px;
        cursor: pointer;
        /* border: solid 2px #5a0075; */
        border-radius: 100px;
        padding: 5px;
        font-size: 35px;
        color: white;
    }

    .formulario {
        /* width: 40%; */
        /* height: 80%; */
        background-color: #ffffff21;
        padding: 40px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .formulario .titulo-form {
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
    }

    .formulario .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .form div label {
        color: #fff;
        font-size: 22px;
        font-family: "Josefin Sans", sans-serif;
    }

    .form div input {
        /* height: 70%; */
        background-color: #ffffff13;
        border: solid 1px #fff;
        color: #fff;
        outline: none;
        padding: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        border-radius: 7px;
    }

    .form div:nth-child(5) {
        /* width: 50%; */
    }

    .form div button {
        height: 60px;
        background: linear-gradient(to left top, rgb(91, 56, 100), rgb(98, 2, 187));
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: 26px;
        font-family: "Josefin Sans", sans-serif;
        cursor: pointer;
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

}

/* Footer */

footer {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;

    .container-footer {
        width: 100%;
        /* height: 100%; */
        background-color: #222;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .linha {
            /* width: 2px; */
            /* height: 30%; */
            background-color: #fff;
        }

        .texto {
            /* width: 250px; */
            font-size: 16px;
            color: #fff;
            text-align: center;
            font-family: "Josefin Sans", sans-serif;
        }
    }



}


/* Responsividade */
@media only screen and (max-width: 1200px) and (min-width: 501px) {

    .about {
        flex-direction: column;
        display: flex;

        .col2 {
            /* width: 90%; */

            ol {
                /* width: 90%; */

                li {
                    font-size: 30px;
                }

                span {
                    font-size: 24px;
                    /* width: 100%; */
                }
            }
        }
    }

    .about img {
        /* width: 90vw; */
    }

    .cor2 {
        color: #fff;
    }

    .solutions {
        /* height: 200vh; */
        .container-solucao {
            align-items: center;
            /* width: 95vw; */
            /* height: 180vh; */
            gap: 30px;
            justify-content: space-evenly;

            .lin {
                grid-template-columns: 80%;

                .card {
                    /* width: 80%; */
                    .fa-chart-pie {
                        font-size: 120px;
                    }
                    span:nth-child(2){
                        font-size: 28px;
                    }
                    span:nth-child(3){
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .services {
        /* height: 150vh; */

        .container-services {
            .titulo h1 {
                text-align: center;
            }

            .titulo {
                h1:nth-child(1) {
                    font-size: 48px;
                }

                h1:nth-child(2) {
                    font-size: 56px;
                }
            }

            .container-boxes {
                display: grid;
                grid-template-columns: 90%;
            }

            .container-boxes .card {
                /* width: 90%; */
            }

            .container-boxes .card span {
                font-size: 22px;
            }

            .container-boxes .card div h3 {
                font-size: 28px;
            }
        }
    }

    .rating {
        /* height: 170vh; */

        .container-rating {
            .titulo {
                /* height: 10%; */
            }

            .titulo h1 {
                text-align: center;
            }

            .titulo h1:nth-child(1) {
                font-size: 42px;
            }

            .titulo h1:nth-child(2) {
                font-size: 52px;
            }

            .container-boxes {
                display: flex;
                flex-direction: column;
            }

            .container-boxes .card {
                /* width: 100%; */

                span {
                    font-size: 28px;
                }
            }

            .container-boxes .card span:nth-child(5) {
                /* margin-bottom: 5%; */
            }
        }
    }

    .rating {
        .container-boxes {
            grid-template-columns: 90%;
            gap: 60px;
        }
    }

    .team {
        /* height: 230vh; */

        .container-team {
            .titulo {
                /* height: 5%; */

                h1:nth-child(1) {
                    font-size: 32px;
                }

                h1:nth-child(2) {
                    font-size: 52px;
                }
            }

            .container-boxes {
                /* height: 90%; */
            }

            .container-boxes .lin {
                display: flex;
                flex-direction: column;
            }

            .container-boxes .lin .card {
                /* width: 95%; */

                .foto img {
                    /* width: 300px; */
                    /* height: 300px; */
                }

                .info {
                    span {
                        font-size: 26px;
                    }
                }
            }
        }
    }

    .contact {
        /* height: 150vh; */

        .container-contact {
            grid-template-columns: 100%;

            .titulo {
                /* width: 90%; */
            }

            .formulario {
                /* width: 90%; */

                .form div input {
                    /* height: 4.5rem; */
                }
            }

            .titulo {
                h1 {
                    font-size: 42px;
                }

                h3 {
                    font-size: 32px;
                    line-height: 36px;
                }

                div img {}
            }
        }
    }

    header {
        display: flex;
        flex-direction: row;
        padding: 0 30px;
        background-color: transparent;
    }
}

@media only screen and (max-width: 900px) {
    .about {
        /* width: 100vw; */

        .col2 {
            /* width: 100%; */
        }

        .col2 ol {
            /* width: 90%; */
        }

        .col2 ol span {
            /* width: 100%; */
        }
    }

    .services {
        /* height: 190vh; */

        .container-boxes {
            display: grid;
            grid-template-columns: 90%;
        }

        .container-services {
            .container-boxes .card {}
        }
    }

    .rating {
        .container-boxes {
            grid-template-columns: 90%;
            gap: 60px;
        }
    }

    #menulink {
        /* width: 22%; */

        li a {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .about {
        flex-direction: column;
        /* height: 250vh; */
        align-items: center;

        .col1 img {
            /* width: 150px; */
        }
    }

    .solutions {
        /* height: 250vh; */
        padding-top: 20%;
    }

    .solutions .container-solucao {
        align-items: center;
        /* width: 95vw; */
        /* height: 250vh; */
        gap: 30px;
        justify-content: space-evenly;

        .lin {

            .card {
                /* width: 90%; */

                span:nth-child(2) {
                    font-size: 18px;
                }

                span:nth-child(3) {
                    font-size: 16px;
                }
            }
        }
    }

    .services {
        /* height: 250vh; */

        .container-services {
            .titulo h1 {
                text-align: center;
            }

            .container-boxes {
                display: flex;
                flex-direction: column;
            }

            .container-boxes .card {
                /* width: 95%; */
            }

            .container-boxes .card span {
                font-size: 16px;
            }

            .container-boxes .card div h1 {
                font-size: 22px;
            }
        }
    }

    .rating {
        /* height: 300vh; */

        .container-rating {
            .titulo {
                /* height: 10%; */
            }

            .titulo h1 {
                text-align: center;
            }

            .titulo h1:nth-child(1) {
                font-size: 32px;
            }

            .titulo h1:nth-child(2) {
                font-size: 38px;
            }

            .container-boxes {
                display: flex;
                flex-direction: column;
            }

            .container-boxes .card {
                /* width: 100%; */

                span {
                    font-size: 18px;
                }
            }

            .container-boxes .card span:nth-child(5) {
                /* margin-bottom: 5%; */
            }
        }
    }
    

    .team {
        /* height: 300vh; */

        .container-team {
            .titulo {
                /* height: 5%; */

                h1:nth-child(1) {
                    font-size: 24px;

                    text-align: center;
                }

                h1:nth-child(2) {
                    font-size: 36px;
                }
            }

            .container-boxes {
                /* height: 90%; */
            }

            .container-boxes .lin {
                display: flex;
                flex-direction: column;
            }

            .container-boxes .lin .card {
                /* width: 95%; */

                .foto img {
                    width: 150px;
                    height: 150px;
                }

                .info {
                    span {
                        font-size: 12px;
                    }

                    div i {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .contact {
        /* height: 150vh; */

        .container-contact {
            grid-template-columns: 100%;

            .titulo {
                /* width: 90%; */
            }

            .formulario {
                /* width: 90%; */

                .form div input {
                    /* height: 2rem; */
                }
            }

            .titulo {
                h1 {
                    font-size: 26px;
                }

                h3 {
                    font-size: 18px;
                    line-height: 18px;
                }

                div img {}
            }
        }
    }

    #menulink {
        /* width: 22%; */
    }

    .about {
        padding: 10px;
    }

    header {
        display: flex;
        flex-direction: row;
        /* width: 100vw; */
        padding: 0 30px;
        background-color: transparent;
    }
}

/* Menu NavBar */
@media only screen and (min-width: 600px) {
    #menulink {
        /* width: 18%; */
    }
}

#menulink {
    /* height: 120%; */

    a:hover {
        border-bottom: none;
    }

    li {
        padding: 2px;
    }

    li button {
        /* width: 100%; */
        /* height: 15%; */
        background-color: transparent;
        color: #fff;
        font-size: 26px;
        border: none;
    }
}

@media only screen and (max-width: 1600px) {
    .about {
        flex-direction: column;
        /* height: 100vh; */
        align-items: center;

        .col1 img {
            /* width: 800px; */
        }
    }
}


@media only screen and (max-width: 700px) {
    .main-section div {
        h1 {
            font-size: 52px;
        }

        h2 {
            font-size: 22px;
        }
    }

    .about {
        flex-direction: column;
        /* height: 230vh; */
        align-items: center;

        .col1 img {
            /* width: 300px; */
        }
    }
}